#DATA TYPE AND STRUCTURES ASSIGNMENT
#**THEORY** **QUESTIONS**

1)What are data structures, and why are they important?
- Data Structures are ways of organising and storing data. They are important as they are very efficient if you want to access or modify stored data.

2) Explain the difference between mutable and immutable data types with examples?
- Datatypes that can be modified are mutable whereas datatypes that cannot  be modified are immutable . Examples:- Mutable datatypes - LIST,DICT ; Immutable datatypes - Tuple

3) What are the main differences between lists and tuples in Python?

- LISTS: Lists are mutable  and can be modified . TUPLE: Tuple are immutable and cannot be modifed.

4) Describe how dictionaries store data?
- They store data in the form of key and value pairs using hashing . They are unordered so indexes dont work here and you use keys to access the data. Example - "Course" : "Artificial Intelligence"

5)  Why might you use a set instead of a list in Python?
- SETS - They are used to store the unique values and are used for fast membership checking.
Example: s= {1,2,3,3,2,1}
         print(s)
Output = {1,2,3}

6) What is a string in Python, and how is it different from a list?
- String - Strings are sequence of characters( immutable ) .
  Lists - List are sequence of elements (Mutable and can store any datatype).

7)How do tuples ensure data integrity in Python?
- They are immutable so we cannot alter the data stored in tuple , which ensures data integrity.

8) What is a hash table, and how does it relate to dictionaries in Python?
- It stores data using hash functions. Python Dictionaries are built on hash tables.

9) Can lists contain different data types in Python?
- Yes, list can contain different incuding other lists . They are like the shopping bag .

10) Explain why strings are immutable in Python?
- Strings are immutable to improve memory efficiency and security.

11) What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries allow fast lookup by keys , whereas lists need index .

12)  Describe a scenario where using a tuple would be preferable over a list?
- When you dont have to modify the data we use Tuple as they are immutable unlike list . Example: storing co-ordinates (x,y)

13) How do sets handle duplicate values in Python?
- Sets automatically removes the duplicate data and stores only unique values.
Example: s= {1,2,3,3,2,1}
         print(s)
Output = {1,2,3}

14) How does the “in” keyword work differently for lists and dictionaries?
Lists - They check elements stored in list
Dictionary -  They check keys

15) Can you modify the elements of a tuple? Explain why or why not?
- We cannot modify elememts stored in a tuple as they are immutable .

16) What is a nested dictionary, and give an example of its use case?
- A nested dicitonary is a dictionary stored inside another dictionary .
my_dict= {"name" : ["Abhi","Abhay","Adi"]}

17) Describe the time complexity of accessing elements in a dictionary?
- Accessing elements in a dictionary is on average 0 which means it has very fast element retrieval

18) In what situations are lists preferred over dictionaries?
- Lists are used when order matters and data can be duplicate or we have to access the data  in sequence.

19) Why are dictionaries considered unordered, and how does that affect data retrieval?
- They are considered unordered as keys are stored by hash not index . It has a effect as we can retrieve the data by keys and not index.

20 ) Explain the difference between a list and a dictionary in terms of data retrieval?
- List - Retrieve the data by index.
  Dictionary -  Retrieve data by key.

#**PRACTICAL** **QUESTION**

In [1]:
#1) Write a code to create a string with your name and print it
name = "Abhi"
print(name)

Abhi

In [2]:
#2) Write a code to find the length of the string "Hello World"
String1 = "Hello World"
print(len(String1))

11

In [3]:
#3) Write a code to slice the first 3 characters from the string "Python Programming"
String2 = "Python Programming"
print(String2[0:3])

Pyt

In [4]:
#4) Write a code to convert the string "hello" to uppercase
String3 = "hello"
print(String3.upper())

HELLO

In [5]:
#5)  Write a code to replace the word "apple" with "orange" in the string "I like apple
fruit1 = "I Like Apple"
print(fruit1.replace("Apple","Orange"))

I Like Orange

In [6]:
#6) Write a code to create a list with numbers 1 to 5 and print it
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [7]:
#7) Write a code to append the number 10 to the list [1, 2, 3, 4]
list2 = [1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [8]:
#8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list3 = [1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [9]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list4 = ["a", "b", "c", "d"]
print(list4[1])

b

In [10]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].
list5 = [10,20,30,40,50]
print(list5[::-1])

[50, 40, 30, 20, 10]

In [11]:
#11  Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1 = (100,200,300)
print(t1)

(100, 200, 300)

In [12]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colours = ('red', 'green', 'blue', 'yellow')
print(colours[-2])

blue

In [13]:
#13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t2 = (10,20,5,15)
print(min(t2))

5

In [14]:
#14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t3 = ('dog', 'cat', 'rabbit')
print(t3.index("cat"))

1

In [15]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits2 = ("Apple","Mango","Watermelon")
print("kiwi" in fruits2)

False

In [16]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it
s1 = {"a","b","c"}
print(s1)

{'b', 'c', 'a'}

In [17]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s2 = {1,2,3,4,5}
s2.clear()
print(s2)

set()

In [18]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s3 = {1, 2, 3, 4}
s3.remove(3)
print(s3)

{1, 2, 4}

In [19]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_a = {1,2,3}
set_b = {3,4,5}
print(set_a | set_b)

{1, 2, 3, 4, 5}

In [20]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_c = {1,2,3}
set_d = {2,3,4}
print(set_c & set_d)

{2, 3}

In [21]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {"name":"Abhi" ,"age": 21 ,"city" : "Lucknow"}
print(dict1)

{'name': 'Abhi', 'age': 21, 'city': 'Lucknow'}

In [22]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict2 = {'name': 'John', 'age': 25}
dict2["country"] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict3 = {'name': 'Alice', 'age': 30}
print(dict3["name"])

Alice

In [25]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dict4.pop("age"))
print(dict4)

22
{'name': 'Bob', 'city': 'New York'}

In [26]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict5 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict5)

True

In [27]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.
list10 = [1,2,3]
tuple10 = (1,2,3)
dict10 = {"a" : 1, "b" : 2 , "c" : 3}
print(list10,tuple10,dict10)

[1, 2, 3] (1, 2, 3) {'a': 1, 'b': 2, 'c': 3}

In [28]:
#27 . Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
r1 = ([random.randint(1,100) for _ in range(5)])
r1.sort()
print(r1)

[6, 10, 46, 82, 89]

In [29]:
#28 Write a code to create a list with strings and print the element at the third index.
colours1 = ["red", "green", "blue", "yellow","violet","purple"]
colours1[3]

'yellow'

In [30]:
#29 Write a code to combine two dictionaries into one and print the result.
dict_a = {"name" : "Abhi" , "age" : 21}
dict_b = {"city" : "Lucknow" , "pincode" : "221212"}
dict_c = dict_a.copy()
dict_c.update(dict_b)
print(dict_c)

{'name': 'Abhi', 'age': 21, 'city': 'Lucknow', 'pincode': '221212'}

In [31]:
#30 Write a code to convert a list of strings into a set.
my_str = ["Abhi","Abhay","Adi","Ishan","Khush"]
print(set(my_str))

{'Khush', 'Ishan', 'Adi', 'Abhay', 'Abhi'}