In [2]:
"Hello" + " World"

'Hello World'

In [12]:
string1="My Name Is Abhi"
string1[0:]

'My Name Is Abhi'

In [33]:
string3="laila"

In [34]:
string3[-3:]

'ila'

In [32]:
string2 = "Hello World"
#it means start from the end , move to start and step backwards by one character
string2[::-1]

'dlroW olleH'

In [36]:
s="I am A student"
len(s)

14

In [37]:
s="I am A student"
s.replace("student","teacher")

'I am A teacher'

In [38]:
address = "LE2 7PT, Leicester , United Kingdom"
address.replace("Leicester", "London")

'LE2 7PT, London , United Kingdom'

In [39]:
address = "LE2 7PT, Leicester , United Kingdom"
address.replace("Leicester", "London").replace("LE2 7PT","LE1 5YB").replace("United Kingdom","UNITED KINGDOM")

'LE1 5YB, London , UNITED KINGDOM'

In [41]:
text="hello World"
text.upper()

'HELLO WORLD'

In [43]:
text.title()

'Hello World'

In [44]:
text.swapcase()

'HELLO wORLD'

In [45]:
text.capitalize()

'Hello world'

In [46]:
sentence="I am a student at DMU"
"am" in sentence

True

In [47]:
sentence="I am a student at DMU"
"AM" in sentence

False

In [58]:
sentence="I am a student at DMU"
a = "am" 
b = len(sentence)

if a in sentence:
    print("Word is present")
    print("length of sentence is: " , b )
else:
    print("Not present")

Word is present
length of sentence is:  21

In [60]:
email = "abhi1234mail.com"
if "@" in email:
    print("Vaild email")
else:
    print("Not Valid email")

Not Valid email

In [61]:
doc = "Myfile.pdf"
if ".pdf" in doc:
    print("valid document")
else:
    print("Not a valid document")

valid document

In [62]:
doc = "Myfile.img"
if ".pdf" in doc:
    print("valid document")
else:
    print("Not a valid document")

Not a valid document

In [63]:
str1="Hello"
str2="Hello"
str1==str2

True

In [64]:
str1="Hello"
str2="Hello"
str1.lower()==str2.lower()

True

In [66]:
str1="Hello"
str2="heLLo"
str1.lower()==str2.lower()

True

In [68]:
reg_username =["Abhi","Khush","Kartik","Adi","Soni","Ishan"]
new_user = "Basanti"
if new_user in reg_username:
    print("Your Username is not unique please add numbers and characters to make it unique")
else:
    print("Unique name")

Unique name

In [71]:
reg_username =["Abhi","Khush","Kartik","Adi","Soni","Ishan"]
reg_username
new_user = "Soni"
if new_user in reg_username:
    print("Your Username is not unique please add numbers and characters to make it unique")
else:
    print("Unique name")

Your Username is not unique please add numbers and characters to make it unique

In [75]:
product_code ="1234"
scanned_code = input("Scan the product code")
if product_code == scanned_code:
    print("The price is 100")
else:
    print("Talk to receptionist")

Scan the product code 36126

Talk to receptionist

In [107]:
#sorting name 
call =["Abhi","Khush","Kartik","Adi","Soni","Ishan"]
sorted(call)

['Abhi', 'Adi', 'Ishan', 'Kartik', 'Khush', 'Soni']

In [108]:
movie_playlist = ["b","c","d","a","e","g","f"]
sorted(movie_playlist)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [109]:
naam = "          Abhay                "
naam

'          Abhay                '

In [110]:
naam.strip()

'Abhay'

In [119]:
data = "Abhi, Data Science , Student"
data

'Abhi, Data Science , Student'

In [120]:
prf_info = data.split(',')
prf_info

['Abhi', ' Data Science ', ' Student']

In [124]:
name_1 = str(prf_info[0])
subject = str(prf_info[1])
Profession = str(prf_info[2])
print("Name :" , name_1 +" | Subject :" , subject +" | Profession :", Profession)

Name : Abhi | Subject :  Data Science  | Profession :  Student

In [140]:
#using \t & \n to  make a table 
hey = "Name\tSub\t\t\tProfession\nAbhi\tData Science\t\tStudent\nAbhay\tChemicals\t\tStudent\nKhush\tWeb-development\t\tStudent"
print(hey)

Name	Sub			Profession
Abhi	Data Science		Student
Abhay	Chemicals		Student
Khush	Web-development		Student

In [141]:
#F STRING
name_2 = "Abhi"
greetings = f"Hello {name_2} , how are you?"
print(greetings)

Hello Abhi , how are you?

In [142]:
course = "AI + ML"
duration = 4
print(f"My course is {course} and its duration is {duration} years.")

My course is AI + ML and its duration is 4 years.

In [145]:
my_name = input("Enter your name :")
my_age = input("Enter your age :")
print(f"My name is : {my_name} and my age is : {my_age}")

Enter your name : Abhijeet
Enter your age : 21

My name is : Abhijeet and my age is : 21

In [148]:
str3 = "Abhijeet"
str3.startswith("Abh")

True

In [149]:
str3 = "Abhijeet"
str3.startswith("b")

False

In [158]:
str4 = "Abhijeet"
a = str4.lower()
print(a.startswith("a"))

True

In [2]:
word_1 ="123"
word_1.isalnum()

True

In [3]:
word_1 ="123abc"
word_1.isalnum()

True

In [4]:
word_1 ="@@@"
word_1.isalnum()

False

In [11]:
word_2 = "Abhijeet Kumar"
len(word_2)

14

In [12]:
count = 0
for i in word_2:
    print(i)
    count += 1
print("The total number of characters are :" , count)

A
b
h
i
j
e
e
t

K
u
m
a
r
The total number of characters are : 14