In [10]:
#LAMBDA FUNCTION >> anonymous function or short hand function
#SYNTAX
# lambda arguments : expression >> no need for return statement and def keyywords

In [89]:
x = [1,2,3,4,5]
def square(x):
    sq = []
    for i in x:
        sq.append(i**2)
    return sq

In [91]:
square(l)

[1, 4, 9, 16, 25]

In [4]:
sq_lambda = lambda x: x**2

In [5]:
sq_lambda(2)

4

In [6]:
sq_lambda(6)

36

In [8]:
add_lamda = lambda a,b : a+b

In [9]:
add_lamda(2,3)

5

In [11]:
is_even = lambda x: x % 2 == 0

In [12]:
is_even(4)

True

In [13]:
x = ["Python","Data science","Abhi"]
x

['Python', 'Data science', 'Abhi']

In [16]:
sorted(x)#By default based on alphabetical order in asc. order

['Abhi', 'Data science', 'Python']

In [18]:
#sort the list based on length of elements of list
le = lambda x : len(x)
le("Abhi")

4

In [20]:
sorted(x, key = lambda x : len(x))

['Abhi', 'Python', 'Data science']

In [26]:
#FIBONACCI
fib = lambda n : n if n<=1 else fib(n-1) + fib(n-2)
[fib(i) for i in range(5)]

[0, 1, 1, 2, 3]

In [28]:
#FACTORIAL OF 5 >> 5*4*3*2*1
def fact_num(n):
    if n == 0:
        return 1
    else :
        return n*fact_num(n-1)

In [29]:
fact_num(5)

120

In [38]:
fact = lambda n : 1 if n == 0 else n*fact(n-1) 
fact(5)

120

In [39]:
fact(5)

120

In [43]:
#TO DOUBLE ANY NUMBER
double_it = lambda n : n+n
double_it(2)

4

In [44]:
double_it(10)

20

In [45]:
#TO check if number is even or not
check_even = lambda n : n%2 == 0

In [46]:
check_even(4)

True

In [47]:
check_even(5)

False

In [55]:
#SORTING BY ALPHABETS
sort_words = lambda *n : sorted(n)

In [56]:
sort_words("Abhijeet","Horse","Elephant")

['Abhijeet', 'Elephant', 'Horse']

In [58]:
#SORTING BY LENGTH
sort_words = sorted(x, key = lambda x : len(x))

In [67]:
x = [ "Abhijeet","Horse","Elephant" ]

In [75]:
#SORTING BY LENGTH
x = [ "Abhijeet","Horse","Ele" ]
sort_words = sorted(x, key = lambda x : len(x))
print(sort_words)

['Ele', 'Horse', 'Abhijeet']

In [76]:
#MAP >>  executes a specified function for each of item of an iterable
#SYNTAX >> map(func, *iterables)
# SO >> IT TAKE ITERABLE VALUES AND CUSTOM FUNCTION AS AN INPUT AND

In [92]:
l = [1,2,3,4,5]
map(square, l)

In [93]:
def  sq(x):
    return x**2

In [97]:
list(map(sq , l))

[1, 4, 9, 16, 25]

In [103]:
def add_num(a):
    return a+10

In [104]:
list(map(add_num, l))

[11, 12, 13, 14, 15]

In [108]:
l = [1,2,3,4,5]
#USING LAMBDA WITH MAP
list(map(lambda x: x**2 , l))

[1, 4, 9, 16, 25]

In [109]:
list(map(lambda x: x+20 , l))

[21, 22, 23, 24, 25]

In [112]:
l = ["1","2","3"]
list(map(lambda x : int(x), l))

[1, 2, 3]

In [114]:
l1 = [100,200,300,400]
l2 = [1,2,3,4]
list(map(add_lamda, l1,l2))

[101, 202, 303, 404]

In [120]:
s = "Abhijeet"
list(map(lambda x : x.upper(),s))

['A', 'B', 'H', 'I', 'J', 'E', 'E', 'T']

In [145]:
words = [ "Python" , "Abhi" ] 
list(map(to_uppercase , words))

[['PYTHON'], ['ABHI']]

In [143]:
def to_uppercase(*args):
    return [word.upper() for word in args]

In [144]:
print(to_uppercase("Abhijeet","Abhi"))

['ABHIJEET', 'ABHI']

In [146]:
def to_capitalize(*args):
    return[word.capitalize() for word in args]

In [147]:
list(map(to_capitalize , words))

[['Python'], ['Abhi']]

In [186]:
def to_cgpa(*args):
    grades = [] 
    for i in args:
        if i.upper() == "A":
            grade = 4
        elif i.upper() == "B":
            grade = 3
        elif i.upper() == "C":
            grade = 2
        else:
            grade = 1
        grades.append(grade)
    return grades

In [194]:
to_cgpa("a","D","c","B")

[4, 1, 2, 3]

In [192]:
list(map(to_cgpa , score ))

[[4], [3], [2], [1]]

In [193]:
score = ("A","b","c","D")

In [203]:
#reduce >> folding or reduction 
#Not a python function so we have to import it from -----from functools import reduce
#SYNTAX >> reduce(func , iterable)
#REDUCE WILL ALWAYS TAKE 2 ARGUMENTS FUNCTIONS

In [196]:
from functools import reduce

In [219]:
l = [2,1,3,4,4,5,6,5]
reduce(add_lamda , l)

30

In [199]:
sub_lambda = lambda x,y : x-y

In [200]:
sub_lambda(6,5)

1

In [202]:
l = [2,1,3,4,4,5,6,5]
reduce(sub_lambda , l)

-26

In [207]:
multiply_num = lambda x,y : x*y
l = [2,3]

In [208]:
reduce(multiply_num, l)

6

In [209]:
words = ["Data","Science","courses"]
reduce(lambda x,y : x+ " " +y,words)

'Data Science courses'

In [210]:
to_merge = lambda x,y : x+" "+y

In [211]:
reduce(to_merge , words)

'Data Science courses'

In [212]:
numbers = [1,2,3,4,5,100,1000,6,10000]
reduce(lambda x,y : x if x > y else y , numbers)

10000

In [213]:
def factorial(n):
    return reduce(lambda  x,y: x*y , range (1,n+1))

In [214]:
factorial(5)

120

In [215]:
def fact(n):
    return reduce(lambda x,y : x*y , range (1,n+1))

In [216]:
fact(5)

120

In [217]:
#FILTER FUNCTION >> USED TO FILTER ELEMETS FROM AN ITERABLE BASED ON SOME CONDITION
#SYNTAX>> filter(funnction , iterable)

In [220]:
l

[2, 1, 3, 4, 4, 5, 6, 5]

In [224]:
list(filter(lambda x: x%2 != 0 ,l))

[1, 3, 5, 5]

In [225]:
list(filter(lambda x: x%2 == 0 ,l))

[2, 4, 4, 6]

In [235]:
l1 = [-1,-34,-5,6,7,-2,10,-99]
list(filter(lambda x : x if x < 0 else 0, l1))

[-1, -34, -5, -2, -99]

In [236]:
l1 = [-1,-34,-5,6,7,-2,10,-99]
list(filter(lambda x : x if x > 0 else 0, l1))

[6, 7, 10]

In [240]:
s = ["Abhi","Abhijeet","Data"]
list(filter(lambda x : x if len(x) > 4 else 0 , s))

['Abhijeet']

In [241]:
list(filter(check_even , l1))

[-34, 6, -2, 10]

In [242]:
def only_even(n):
    if n% 2 == 0:
        return True
    else:
        return False

In [243]:
only_even(100)

True

In [246]:
n = [1,2,3,4,5,6,6,7]
list(filter(only_even , n ))

[2, 4, 6, 6]

In [247]:
words = ["cat", "tiger", "lion", "elephant", "rat"]
list(filter(lambda x: x if len(x)>4 else 0 , words))

['tiger', 'elephant']

In [255]:
names = ["Alice", "Eve", "Oscar", "Bob", "Uma", "Charlie"]
list(filter(lambda x : x if x[0].upper() not in ('A','E','I','O','U') else 0 , names))

['Bob', 'Charlie']

In [256]:
numbers = [3, 7, 9, 10, 12, 14, 15]
list(filter(lambda x : x if x%3 == 0 else 0, numbers))

[3, 9, 12, 15]

In [262]:
words = ["madam", "Racecar", "apple", "level", "banana"]
list(filter(lambda x : x if x.upper() == x.upper()[::-1] else 0 , words))

['madam', 'Racecar', 'level']

In [ ]:
ages = [12, 17, 18, 21, 14, 30]
filter(lambda x : x if x >= 18 else 0 , )