In [1]:
print("Hello world")

Hello world

In [2]:
len("Abhijeet")

8

In [3]:
type(5)

int

In [4]:
type(9.9)

float

In [5]:
#THEY ARE PREDEFINED FUNCTIONS >> len,print,type i.e they are inbuilt python functions

In [12]:
#CEIL FUNCTION - returns nearest highest whole no. values 
#FLOOR FUNCTION - returns nearest lowest whole no. values
import math as m # math is a collection of functions

In [13]:
m.ceil(9.7)

10

In [14]:
m.floor(6.5)

6

In [15]:
m.floor(6.6)

6

In [ ]:
#functions>> INBUILT FUNCTION
#USER defined function - coming now

In [17]:
#SYNTAX OF FUNCTION
#def fun():
    #do something>> body of function

In [20]:
#function is a block of code which performs some specific task/computation
#why function -  the functions(code) are reusable,neat clean and organised.Saves time as well.

In [21]:
print("Welcome to the office Abhi")
print("Welcome to the office Abhay")
print("Welcome to the office Khush")

Welcome to the office Abhi
Welcome to the office Abhay
Welcome to the office Khush

In [22]:
#Making first function to keep the above done work in neat and clean way and also to save time
def greet():
    print("Welcome to the office")

In [23]:
greet()

Welcome to the office

In [24]:
def greet(name):#passing a variable inside function >> positional argument 
    print("Welcome to the office" , name)

In [25]:
greet("Abhi")

Welcome to the office Abhi

In [26]:
greet("Kartik")

Welcome to the office Kartik

In [27]:
greet() #it gives an error

TypeError: greet() missing 1 required positional argument: 'name'

In [28]:
def func():
    print("This is my first function")

func()

This is my first function

In [30]:
"This is my first function" + " in python"

'This is my first function in python'

In [33]:
func() + " in python"

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [34]:
print(type(func()))

This is my first function
<class 'NoneType'>

In [38]:
def func(): #returns output of a function
    #do something here
    return "This is my first function"

func() + " in python"

'This is my first function in python'

In [42]:
def func():
    return "This is my first function" , 1,2.2,True,5+9j

func()

('This is my first function', 1, 2.2, True, (5+9j))

In [43]:
a = func()
type(a)

tuple

In [44]:
#To assign all the above tuple value in different variable
func()

('This is my first function', 1, 2.2, True, (5+9j))

In [45]:
a,b,c,d,e = func()

In [47]:
a

'This is my first function'

In [48]:
b

1

In [49]:
c

2.2

In [50]:
d

True

In [51]:
e

(5+9j)

In [52]:
a = func()
a

('This is my first function', 1, 2.2, True, (5+9j))

In [53]:
a[0]

'This is my first function'

In [54]:
a[1]

1

In [58]:
def func():
    calc = 2+3+6*5
    return calc

In [60]:
type(func())

int

In [61]:
func()

35

In [62]:
def square_no(a): # a is called as an argument
    return a*a

In [63]:
square_no(5)

25

In [64]:
def addition(a, b): 
    return a+b

In [65]:
addition(5 , 6) #Addition when int value given

11

In [66]:
addition("Hello|" , "Abhijeet") # Concatenate when str value given

'Hello|Abhijeet'

In [69]:
addition([1,2,3],[4,5,6]) # concatenate lists when list is provided

[1, 2, 3, 4, 5, 6]

In [71]:
addition("jeet" , "Abhi") # Positional arguments - means the position  in which user provide the argumment it will used in same order in function

'jeetAbhi'

In [72]:
# a and b are positional arguments so it maintains the order 
def addition(b, a): 
    return a+b

In [73]:
addition("jeet" , "Abhi")

'Abhijeet'

In [74]:
#or u can assign value for each arguments like
addition(a = "Abhi" , b = "jeet")

'Abhijeet'

In [75]:
def sum1(a,b,c):
    return a+b+c

In [76]:
sum1(1,2,3)

6

In [78]:
#INCASE IF THERE S NO VALUE PROVIDED FOR ANY OF THE VARIABBLES SO WE USE DEFAULT ARGUMENTS
def sum1(b,c,a = 0):
    return a+b+c

In [82]:
sum1(3,5)#a value not given so it is getting default

8

In [84]:
def sum1(a,b,c=0):# The default value should always be present in the last
    return a+b+c

In [86]:
sum1(1,2,3)#if the value is given then it changes from default to the given one

6

In [87]:
def sum1(a=0,b=0,c=0):# The default value should always be present in the last
    return a+b+c

In [88]:
sum1(1)

1

In [90]:
sum1(1,7)

8

In [91]:
#ADD 2 VAL. BUT TAKING INPUT FROM THE USER
def add_two_number():
    a = int(input("Enter value a :"))
    b = int(input("Enter value b :"))
    return a+b

In [92]:
add_two_number()

Enter value a 5
Enter value b 10

15

In [97]:
#Write a function that takes list as an input and return all numeric values in a list
def a_numeric(a):
    a_list = []
    for i in a:
        if type(i) == int or type(i) == float:
            a_list.append(i)
    return a_list

In [98]:
a_numeric([1, 2.2,"Abhi",9.9,99,True,False])

[1, 2.2, 9.9, 99]

In [3]:
#Now in input take nested list as well
#Write a function that takes list as an input and return all numeric values in a list
def b_numeric(a):
    a_list = []
    for i in a:
        if type(i) == list:
            for j in i:
                if(type(j) == int or type(j) == float):
                    a_list.append(j)
        else:
            if type(i) == int or type(i) == float :
                a_list.append(i)
    return a_list

In [4]:
b_numeric([[1,2,"Abhi"],1, 2.2,"Abhi",9.9,99,True,False])

[1, 2, 1, 2.2, 9.9, 99]

In [5]:
def c_stringonly(a):#Gives this error as there was only 1 argument given
    a_list =[]
    for i in a:
        if type(i)== list:
            for j in i :
                if type(j) == str:
                    a_list.append(j)
        else:
            if type(i) == str:
                a_list.append(i)
    return a_list

In [6]:
c_stringonly(["Hello",3,5,2,"I"],"AM",[3,4,1,"ABHI"])

TypeError: c_stringonly() takes 1 positional argument but 3 were given

In [7]:
def c_stringonly(*a):#fixed it after adding * to it as it is used for multiple arguments
    a_list = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == str:
                    a_list.append(j)
        else:
            if type(i) == str:
                a_list.append(i)
    return a_list

In [8]:
c_stringonly(["Hello",3,5,2,"I"],"AM",[3,4,1,"ABHI"])

['Hello', 'I', 'AM', 'ABHI']

In [9]:
#A function which can take any number of values and return the sum
def sum_infinity(*a):
    s = 0
    for i in a:
        s = s+i
    return s

In [10]:
sum_infinity(1,2,3,4,5)

15

In [11]:
#Variable argument with default argument
def test(*args,a):
    return args,a

In [12]:
test(1,2,3,4,a = "Ram")##If a is not provided it will give an error

((1, 2, 3, 4), 'Ram')

In [13]:
#Variable argument takes any number of argument
#Positional argument takes fixed argument

In [14]:
#Write a function which can take any number of values and returns the list

In [15]:
def returnlist(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [16]:
returnlist([1,2,3],["HELLO","ABHI"],5,7,9,[4,5,9 ,7,8,9])

[[1, 2, 3], ['HELLO', 'ABHI'], [4, 5, 9, 7, 8, 9]]

In [17]:
def team(name,project):
    return f"{name} is working on {project}."

In [18]:
team("Abhi","Data")

'Abhi is working on Data.'

In [19]:
#variable length and keyword argument together
def test1(*args, **args1):
    return args,args1

In [20]:
test1(1,2,3,4,a=10,b=20)

((1, 2, 3, 4), {'a': 10, 'b': 20})

In [21]:
def test1(*args, **args1):
    return args,args1

In [22]:
test1()

((), {})

In [23]:
#PYHTON NAMESPACE 
def greet():
    message ="hello, welcome!" #MESSAGE VARIABLE IS A LOCAL VARIABLE SO U CAN NOT CALL IT ANYWHERE ONLY IN FUCNTION IT CAN BE CALLED
    print(message)

In [24]:
greet()

hello, welcome!

In [25]:
subpart = " to the course" # GLOBAL VARIABLE CAN BE ACCESSED OUTSIDE THE FUNCTION AS WELL
def greet():
    message = "hello, welcome " + subpart
    print(message)

In [26]:
greet()

hello, welcome  to the course

In [27]:
#LOCAL VARIABLE - A FUNCTION DEFINED INSIDE A FUCNTION THAT CAN BE ACCESSED ONLY IN THAT FUNCTION
#GLOBAL VARIABLE - A FUNCTION DEFINED OUTSIDE A FUCNTION THAT CAN BE ACCESSED ANYWHERE OUTSIDE OR INSIDE FUNCTION

In [28]:
#DEFINE FUNCTION INSIDE A FUNCTION
def marksinsub(**kwargs):
    def totalmarks(marks_list):#THIS FUCNTION ACTING AS A LOCAL FUNCTION
        return sum(marks_list)   
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
    return totalmarks(marks_list)

In [29]:
marksinsub(a = 90 , b = 30)

120

In [30]:
#CALL FUNCTION FROM OUTSIDE
def totalmarks(marks_list):#NOW IT ACTS LIKE A GLOBAL FUNCTION
        return sum(marks_list)
def marksinsub(**kwargs):   
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
    return totalmarks(marks_list)

In [31]:
marksinsub(a = 90 , b = 30 , C =100)

220

In [32]:
def find_power(num,power):
    return num**power

In [33]:
find_power(2,4)

16

In [34]:
def find_power(num,power):
    """
    THIS FUNCTION RETURNS POWER OF NUMBER
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
        integer: power of no.
    """
    return num**power

In [35]:
find_power(3,3)

27

In [65]:
def is_palindrome(*a):
    """
    The function checkes whether the number is palindrome or  not
    args:
        provide any list of numbers 
    return:
        checks  whether number is palindrome or not
    """
    if a == (a)[::-1]:
        print("Palindrome number")
    else:
        print("Not a palindrome")
    return

In [66]:
is_palindrome(1,2,2,1)

Palindrome number

In [77]:
def factorial(n):
    """
    Calculates the factorial of a non-negative integer n.

    A factorial is the product of all positive integers less than or equal to n.
    For example, factorial(5) = 5 × 4 × 3 × 2 × 1 = 120.

    Parameters:
        n (int): A non-negative integer whose factorial is to be computed.

    Returns:
        int: The factorial of the given number if n >= 0.
        If n is negative, it prints a message that factorial is undefined.
    """
    if n<0:
        print("undefined for negative number")
    else:
        result = 1
        for i in range(1,1+n):
            result *= i
        return result

In [81]:
factorial(5)

120

In [91]:
def count_vowels(s):
    """
    Counts the number of vowels in a given string.
    
    Parameters:
        s (str): The input string.
        
    Returns:
        int: Number of vowels in the string.
    """
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

In [92]:
count_vowels("ABhijeet")

4

In [120]:
def list_squares(a, b):
    """
    Returns a list of square numbers from a to b (inclusive).

    Parameters:
        a (int): The starting number of the range.
        b (int): The ending number of the range.

    Returns:
        list: A list containing the squares of numbers from a to b.
    
    Example:
        list_squares(1, 5) -> [1, 4, 9, 16, 25]
    """
    list_c = []
    for i in range(a, b + 1):
        c = i * i
        list_c.append(c)
    return list_c

In [121]:
list_squares(1,20)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [122]:
def find_max(*nums):
    """
    Returns the maximum number in a list without using the built-in max() function.

    Parameters:
        nums (list): A list of numeric values (int or float).

    Returns:
        number: The maximum number in the list.
    """
    if not nums:
        return "List empty"
    max_num = nums[0]
    for num in nums:
        if num > max_num:
            max_num = num
    return max_num

In [123]:
find_max(1,2,3,9,5,5,6)

9

In [124]:
def fibonacci(n):
    """
    Returns a list containing the Fibonacci sequence up to n terms.

    Parameters:
        n (int): Number of terms to generate.

    Returns:
        list: Fibonacci sequence as a list of integers.
    """
    if n <= 0:
        return[]
    elif n == 1:
        return [0]
        
    a = [0,1]
    for _ in range(2,n):
        b = a[-1] + a[-2]
        a.append(b)
    return a

In [125]:
fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [134]:
def remove_duplicate(*lst):
    """
    Removes all duplicate elements from a list while preserving the original order.

    Parameters:
        lst (list): The input list.

    Returns:
        list: A new list containing only unique elements from the original list.
    """
    a = []
    for item in lst:
        if item not in a:
            a.append(item)
    return a

In [133]:
remove_duplicate(1, 8, 2, 2, 3, 4, 4, 5)

[1, 8, 2, 3, 4, 5]

In [129]:
remove_duplicate("apple", "banana", "apple", "cherry")

['apple', 'banana', 'cherry']

In [135]:
def only_even(*a):
    b = []
    for num in a:
        if num % 2 == 0:
            b.append(num)
    return b

In [136]:
only_even(1,2,3,4,5,6,7,8,9)

[2, 4, 6, 8]