In [1]:
#oops >> object oriented programming structure
a = 5
a

5

In [2]:
type(a)

int

In [3]:
print(type(a))

<class 'int'>

In [5]:
b = 4
print(type(b))

<class 'int'>

In [6]:
s = "Abhijeet" # s is an object
print(type(s))

<class 'str'>

In [8]:
a = "abhi" # a is an object
print(type(a))

<class 'str'>

In [9]:
#iit form example , cars example, human being example
#classes are blueprint for creating an object
#we are different objects of class human being
#gujiya maker, thekua maker

In [12]:
#class Car is nothing but template
class Car: #naming convention>> Uppercamelcase
    pass

In [13]:
c1 = Car() # instance/object

In [14]:
print(type(c1))

<class '__main__.Car'>

In [1]:
#WHY OOPS?? WE already had function so why do we need to define a class??
#a project can have manny components, say backend(f1,f2) , frontend(f3,f4), data pipeline(f5,f6)
#def f1():
#    pass
#def f2():
#    pass
#def f3():
 #   pass
#def f4():
 #   pass
#def f5():
#    pass
#if a backend developer wants to work/change some backend function>> all the function are mixed or at one place not arranged
#OOPS HELPS YOU TO ARRANGE THE REQUIRED FUNCTIONS IN RESPECTIVE CLASSES

In [2]:
class Car:
    pass

In [3]:
c1 = Car()
print(type(c1))

<class '__main__.Car'>

In [4]:
class Car: # function/method of a car
    def accelerate():
        print("Car is accelerating")

In [5]:
c1 = Car()

In [7]:
c1.accelerate() # It will show error

TypeError: Car.accelerate() takes 0 positional arguments but 1 was given

In [11]:
class Car: # function/method of a car
    def accelerate(self):
        print("Car is accelerating")
#SELF>> a variable that represents instancee of a class using which you can access method/function of class, also attribute/property of a class
#SELF>> makes sure that each object knows that each object is associated with it 
# in other words the method is referenced to that particular object

In [12]:
c1 = Car()
c1.accelerate()

Car is accelerating

In [10]:
c2 = Car()
c2.accelerate()

Car is accelerating

In [19]:
class Car: # function/method of a car
    def accelerate(self):
        print("Car is accelerating")
    def brake(self):
        print("Car is stopping")
#Self is not a python keyword , u can use any variable name
#Best practice is to pass Self

In [20]:
c3 = Car()
c3.brake()

Car is stopping

In [21]:
class Bank:
    def deposit(self):
        print("I am depositing the money")

In [22]:
c1 = Bank()
c1.deposit()

I am depositing the money

In [23]:
class Bank:
    def deposit(self):
        print("I am depositing the money")
    def withdraw(self):
        print("I am withdrawing money")

In [24]:
c1 = Bank()
c1.withdraw()

I am withdrawing money

In [26]:
c2 = Bank()
c2.deposit()

I am depositing the money

In [50]:
#Passing data in the class
class Bank:
    def deposit(self,amount):
        print(f"I am depositing the money {amount} rupees.")
    def withdraw(self,amount_withdraw):
        print(f"I am withdrawing money {amount_withdraw} rupees.")

In [51]:
c2 = Bank()
c2.deposit(500)

c3 = Bank()
c3.withdraw(1000)

I am depositing the money 500 rupees.
I am withdrawing money 1000 rupees.

In [52]:
abhi = Bank()
abhi.deposit()#Now throws errror

TypeError: Bank.deposit() missing 1 required positional argument: 'amount'

In [57]:

#Passing data in the class
#Bank will ask for a default amount , aount is attribute / property / data of a class Bank
class Bank:
    amount = 00.00
    amount_withdraw = 00.00
    def deposit(self,amount):
        print(f"I am depositing the money {amount} rupees.")
    def withdraw(self,amount_withdraw):
        print(f"I am withdrawing money {amount_withdraw} rupees.")

In [63]:
abhi = Bank()
abhi.deposit(10)

I am depositing the money 10 rupees.

In [64]:
#attributes/prperty can be also accessed the same way as methods/functions are accessed
abhi.amount

0.0

In [67]:
#EXTRACT ODD AND EVEN NUMBERS FROM A GIVEN LIST
class Listops:
    l = [1,2,3,4,5]
    def extract_even(self, l):
        l1 = []
        for i in l:
            if i%2 == 0:
                l1.append(i)#
        return l1
    def extract_odd(self, l):
        l2 = []
        for i in l:
            if i%2 != 0:
                l2.append(i)#
        return l2

In [78]:
even = Listops()
even.extract_even(even , l)

NameError: name 'l' is not defined

In [81]:
odd = Listops()
odd.extract_odd(odd.l)

[1, 3, 5]

In [77]:
even.l

[1, 2, 3, 4, 5]

In [80]:
even = Listops()
even.extract_even(even.l)

[2, 4]

In [82]:
even.extract_even([1,3,5,7])

[]

In [83]:
#IFF YOU MAKE ANY OBJECT THE PROPERTY OR THE ATTRIBUT L IS FIXED
#INSPITE IF PASSING A DIFFERENT LIST YOU ARE STILL GETTING ALREADY PASSED L
even.l

[1, 2, 3, 4, 5]

In [84]:
#you want to take the attribute value of the clas for each object  differently

#EXTRACT ODD AND EVEN NUMBERS FROM A GIVEN LIST
class Listops:
    def __init__(self,l): # Magic method or dunder method. init means initialization>> of variable
        self.l = l
    def extract_even(self, l):
        l1 = []
        for i in l:
            if i%2 == 0:
                l1.append(i)#
        return l1
    def extract_odd(self, l):
        l2 = []
        for i in l:
            if i%2 != 0:
                l2.append(i)#
        return l2

In [86]:
ops1 = Listops() # Throws an error, while making object/instance of a class, the first method that is executed is __init__

#and __init__ needs argument

TypeError: Listops.__init__() missing 1 required positional argument: 'l'

In [88]:
ops1 = Listops([1,20,31,4,5])

In [91]:
ops1.l

[1, 20, 31, 4, 5]

In [92]:
ops2 = Listops([1,2,3,4,5,6])
ops2.l

[1, 2, 3, 4, 5, 6]

In [93]:
#you want to take the attribute value of the clas for each object  differently

#EXTRACT ODD AND EVEN NUMBERS FROM A GIVEN LIST
class Listops:
    def __init__(self,l): # Magic method or dunder method. init means initialization>> of variable
        self.l = l
    def extract_even(self):# Be careful as init has been used only pass self in the method and not the variable again 
        l = self.l
        l1 = []
        for i in l:
            if i%2 == 0:
                l1.append(i)#
        return l1
    def extract_odd(self):
        l = self.l
        l2 = []
        for i in l:
            if i%2 != 0:
                l2.append(i)#
        return l2

In [95]:
ops1.extract_even()#Throws error . WHY?? # Be careful as init has been used only pass self in the method and not the variable again

TypeError: Listops.extract_even() missing 1 required positional argument: 'l'

In [96]:
ops1 = Listops([1,8,9,11,12])
ops1.extract_odd()

[1, 9, 11]

In [97]:
ops1.extract_even()

[8, 12]

In [98]:
#you want to take the attribute value of the clas for each object  differently

#EXTRACT ODD AND EVEN NUMBERS FROM A GIVEN LIST
class Listops:
    def __init__(self,l): # Magic method or dunder method. init means initialization>> of variable
        self.l = l
    def extract_even(self):# Be careful as init has been used only pass self in the method and not the variable again 
        l = self.l
        l1 = []
        for i in l:
            if i%2 == 0:
                l1.append(i)#
        return l1
    def extract_odd(self):
        l = self.l
        l2 = []
        for i in l:
            if i%2 != 0:
                l2.append(i)#
        return l2

In [110]:
#MULTIPLE ATTRACTIONS
#book is associated with author,title,name
class Book:
    def __init__(self , name , author , title):
        self.name_of_book = name
        self.book_author = author
        self.title_name = title
    def extract_details_name_title(self):
        print(f"name of the book is -{self.name_of_book} ,Title is -{self.title_name}")
    def extract_details_name_author(self):
        print(f"name of the book is -{self.name_of_book} ,name of the author is -{self.book_author}")

In [111]:
student1 = Book("ML","ABHIJEET","REGRESSION")

In [112]:
student1.extract_details_name_author()

name of the book is -ML ,name of the author is -ABHIJEET

In [113]:
student2 = Book("AI","ABHI","TRAINING")
student2.extract_details_name_title()

name of the book is -AI ,Title is -TRAINING

In [126]:
#MULTIPLE ATTRACTIONS
#book is associated with author,title,name
#every variable is fixed
class Book:
    def __init__(self):
        self.name_of_book = "DSA"
        self.book_author = "NITIN"
        self.title_name = "STACKS"
    def extract_details_name_title(self):
        print(f"Name of the Book is -{self.name_of_book} ,Title is -{self.title_name}")
    def extract_details_name_author(self):
        print(f"Name of the Book is -{self.name_of_book} ,Name of the Author is -{self.book_author}")

In [127]:
student1 = Book()
student1.extract_details_name_author()

Name of the Book is -DSA ,Name of the Author is -NITIN

In [128]:
student2 = Book()
student2.extract_details_name_title()

Name of the Book is -DSA ,Title is -STACKS

In [130]:
#MULTIPLE ATTRACTIONS
#book is associated with author,title,name
class Book:
    def __init__(self , name , author , title):
        self.name_of_book = name
        self.book_author = author
        self.title_name = title
    def extract_details_name_title(self):
        print(f"name of the book is -{self.name_of_book} ,Title is -{self.title_name}")
    def extract_details_name_author(self):
        print(f"name of the book is -{self.name_of_book} ,name of the author is -{self.book_author}")

In [131]:
student2 = Book("AI","ABHI","TRAINING")
student2.extract_details_name_title()

name of the book is -AI ,Title is -TRAINING

In [146]:
"""
Question 1: Movie Class

Create a class called Movie which has the following attributes:

title, director, and genre
Add two methods:

show_title_director() â€“ prints the movie title and director

show_title_genre() â€“ prints the movie title and genre
"""
class Movie:
    def __init__(self,title,director,genre):
        self.name_of_title = title
        self.name_of_director = director
        self.name_of_genre = genre
    def show_title_director(self):
        print(f"The title of the movie is - {self.name_of_title} and The name of the director is -{self.name_of_director}")
    def show_title_genre(self):
        print(f"The title of the movie is - {self.name_of_title} and The Genre is -{self.name_of_genre}")

In [147]:
P1 = Movie("Scarymovie","Atkinson","Horror")
P1.show_title_director()

The title of the movie is - Scarymovie and The name of the director is -Atkinson

In [148]:
P2 = Movie("Scarymovie","Atkinson","Horror")
P2.show_title_genre()

The title of the movie is - Scarymovie and The Genre is -Horror

In [149]:
"""
Question 2: Student Class

Create a class called Student with attributes:

name, age, grade
Define two methods:

print_name_age() â€“ prints name and age

print_name_grade() â€“ prints name and grade
"""

class Student:
    def __init__(self,name,age,grade):
        self.show_the_name = name
        self.show_the_age = age
        self.show_the_grade = grade
    def print_name_age(self):
        print(f"The name of the student is -{self.show_the_name} and The age is -{self.show_the_age}")
    def print_name_grade(self):
        print(f"The name of the student is -{self.show_the_name} and The Grade is -{self.show_the_grade}")

In [150]:
Student1 = Student("Abhi","21","A")
Student1.print_name_age()

The name of the student is -Abhi and The age is -21

In [151]:
Student1 = Student("Abhi","21","A")
Student1.print_name_grade()

The name of the student is -Abhi and The Grade is -A

In [152]:
"""
Question 3: Product Class

Create a class Product with:

Attributes: product_name, price, category

Method 1: display_name_price()

Method 2: display_name_category()
"""

class Product:
    def __init__(self,product_name,price,category):
        self.show_product_name = product_name
        self.show_price = price
        self.show_category = category
    def display_name_price(self):
        print(f"The name of the product is -{self.show_product_name} and The Price is -{self.show_price}")
    def display_name_category(self):
        print(f"The name of the product is -{self.show_product_name} and The Category is -{self.show_category}")

In [156]:
product1 = Product("Chips","Â£10","Salty")
product1.display_name_price()

The name of the product is -Chips and The Price is -Â£10

In [157]:
product1 = Product("Chips","Â£10","Salty")
product1.display_name_category()

The name of the product is -Chips and The Category is -Salty

In [158]:
"""
Question 4: Car Class

Create a class Car with attributes:

brand, model, year
Add methods:

car_description() â€“ prints full description

car_model_year() â€“ prints model and year only
"""

class Car:
    def __init__(self,brand,model,year):
        self.show_brand = brand
        self.show_model = model
        self.show_year = year
    def display_car_description(self):
        print(f"The brand of Car is -{self.show_brand} and the Model is -{self.show_model}")
    def display_car_model_year(self):
        print(f"The model of the Car is -{self.show_model} and the year is -{self.show_year}")

In [159]:
Car1 = Car("BMW","Z4","2020")
Car1.display_car_description()

The brand of Car is -BMW and the Model is -Z4

In [160]:
Car1 = Car("BMW","Z4","2020")
Car1.display_car_model_year()

The model of the Car is -Z4 and the year is -2020

In [162]:
"""
Question 5: Employee Class

Create a class Employee with:

Attributes: name, position, salary
Methods:

display_name_salary()

display_name_position()
"""

class Employee:
    def __init__(self,name,position,salary):
        self.display_name = name
        self.display_position = position
        self.display_salary = salary
    def display_name_salary(self):
        print(f"The Name of the employee is -{self.display_name} and the Salary is -{self.display_salary}/yr")
    def display_name_position(self):
        print(f"The Name of the employee is -{self.display_name} and the Position is -{self.display_position}")

In [164]:
emp1 = Employee("Abhi","Data Scientist","Â£68000")
emp1.display_name_position()
emp1.display_name_salary()

The Name of the employee is -Abhi and the Position is -Data Scientist
The Name of the employee is -Abhi and the Salary is -Â£68000/yr

In [169]:
"""
Question 5: Employee Class

Create a class Employee with:

Attributes: name, position, salary
Methods:

display_name_salary()

display_name_position()

update_salary()

calculate_bonus()

display_full_profile()

 ++++++++++

 Manager Subclass

  display_manager_profile()
"""
class Employee:
    def __init__(self, name, position, salary):
        self.name = name
        self.position = position
        self.salary = salary

    def display_name_salary(self):
        print(f"The Name of the employee is - {self.name} and the Salary is - Â£{self.salary}/yr")

    def display_name_position(self):
        print(f"The Name of the employee is - {self.name} and the Position is - {self.position}")

    def update_salary(self, new_salary):
        self.salary = new_salary
        print(f"{self.name}'s salary has been updated to Â£{self.salary}/yr")

    def calculate_bonus(self, percentage):
        bonus = self.salary * (percentage / 100)
        print(f"Bonus for {self.name} at {percentage}% is: {bonus}")
        return bonus

    def display_full_profile(self):
        print(f"Employee: {self.name} | Position: {self.position} | Salary: Â£{self.salary}/yr")


# ðŸ§© Subclass: Manager
class Manager(Employee):
    def __init__(self, name, position, salary, department):
        super().__init__(name, position, salary)
        self.department = department

    def display_manager_profile(self):
        print(f"Manager: {self.name} | Dept: {self.department} | Position: {self.position} | Salary: Â£{self.salary}/yr")

In [170]:
emp1 = Employee("Abhi", "Data Scientist", 68000)
emp1.display_full_profile()
emp1.calculate_bonus(10)
emp1.update_salary(68000)
emp1.display_name_salary()

mgr = Manager("Khush", "Senior Manager", 120000, "Engineering")
mgr.display_manager_profile()
mgr.calculate_bonus(15)

Employee: Abhi | Position: Data Scientist | Salary: Â£68000/yr
Bonus for Abhi at 10% is: 6800.0
Abhi's salary has been updated to Â£68000/yr
The Name of the employee is - Abhi and the Salary is - Â£68000/yr
Manager: Khush | Dept: Engineering | Position: Senior Manager | Salary: Â£120000/yr
Bonus for Khush at 15% is: 18000.0

18000.0